    <div class="apidocs">
        <div id="docs-main" class="content">

            <br><br><br>
            <h2>Overview</h2>
            KetteringJS is a library meant to give easy and structured access
            to various information and functions through Javascript. 
            
            <h2>Getting started</h2>

            Download the latest library file generated in the bin directory from <a href="https://github.com/garrickbrazil/ketteringjs">Github</a>. jQuery is the only dependency. Import the file into your project and enjoy!
            <br><br>
            If you want to modify or build the project yourself, use the <kbd>MAKE</kbd> file. The source files will be concatenated and minified into the bin folder. Python and minifier are required dependencies. 
            
            
            <h2>License</h2>
            
            The project is licensed with <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPL-3.0</a>
            
             
            <h2> Contact </h2>
                
            Please submit all bugs <a href="https://github.com/garrickbrazil/KetteringJS/issues/new">here</a>.<br>
            Garrick Brazil - garrick@garrickmail.net
            
        </div>
    </div>


